.container {
  margin: auto;
  text-align: center;
  padding: 5% 15%;
  min-height: 80vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.container div {
  margin: auto;
}

.heading {
  font-size: 6rem;
}
