.detail {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.para1,
.para2,
.para3,
.para4 {
  position: relative;
  display: flex;
  margin: 10% auto;
  min-height: 140px;
}

.para1 p,
.para2 p,
.para3 p,
.para4 p {
  color: #aab7b8;
}

.phone {
  position: absolute;
  top: -75%;
  height: 350px;
  width: 180px;
  z-index: 1;
}

.phone img {
  border-radius: 20px;
}

.para2,
.para4 {
  flex-direction: row-reverse;
}

.content {
  width: 400px;
  z-index: 100;
}

.para1 .content,
.para3 .content {
  margin-left: 22%;
  margin-right: auto;
}

.para2 .content,
.para4 .content {
  margin-right: 22%;
  margin-left: auto;
}

/* ------- FILLERS */
.leftCornerFiller,
.rightCornerFiller,
.filler1,
.filler2,
.filler3,
.filler4,
.filler5,
.filler6,
.filler7 {
  position: absolute;
  opacity: 0.9;
  height: 300px;
  width: 300px;
}

.filler5,
.filler6,
.filler7 {
  height: fit-content;
  width: fit-content;
}

.leftCornerFiller {
  top: auto;
  bottom: 0;
  left: 0;
}

.rightCornerFiller {
  top: 0;
  right: 0;
}

.leftCornerFiller div,
.rightCornerFiller div,
.filler1 div,
.filler2 div,
.filler3 div,
.filler4 div,
.filler5 div,
.filler6 div,
.filler7 div {
  position: absolute;
  /* background: linear-gradient(180deg, rgb(246 162 182), rgb(225 28 116)),
    linear-gradient(
      180deg,
      rgba(225, 28, 116, 0.4588235294117647),
      rgb(225 30 117)
    ); */
  background: hsla(333, 78%, 50%, 1);

  background: linear-gradient(
    45deg,
    hsla(333, 78%, 50%, 1) 0%,
    hsla(333, 43%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(333, 78%, 50%, 1) 0%,
    hsla(333, 43%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(333, 78%, 50%, 1) 0%,
    hsla(333, 43%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E11C74", endColorstr="#E0B2C7", GradientType=1 );

  opacity: 0.9;
  border-radius: 50%;
}

.leftCornerFiller .first {
  height: 200px;
  width: 200px;
  bottom: -100px;
  left: -100px;
}

.leftCornerFiller .second {
  height: 50px;
  width: 50px;
  bottom: 180px;
  left: 10px;
}

.leftCornerFiller .third {
  height: 100px;
  width: 100px;
  bottom: 80px;
  left: 50px;
}

.rightCornerFiller .first {
  height: 200px;
  width: 200px;
  top: -100px;
  right: -100px;
  /* bottom: -100px;
  left: -100px; */
}

.rightCornerFiller .second {
  height: 70px;
  width: 70px;
  top: 110px;
  right: -10px;
}

.rightCornerFiller .third {
  height: 90px;
  width: 90px;
  top: 10px;
  right: 110px;
}

.filler1 {
  top: -50%;
  left: -7%;
}

.filler2 {
  top: -50%;
  right: -7%;
}

.filler3 {
  top: -50%;
  left: -7%;
}

.filler4 {
  top: -50%;
  right: -7%;
}

.filler5 {
  top: 10%;
  left: 65%;
}

.filler6 {
  top: 45%;
  left: 50%;
}

.filler7 {
  top: 83%;
  left: 25%;
}

.filler1 .first,
.filler2 .first,
.filler3 .first,
.filler4 .first {
  height: 230px;
  width: 230px;
  top: -20px;
  left: 20px;
}

.filler5 .first,
.filler6 .first,
.filler7 .first {
  height: 70px;
  width: 70px;
  left: 50%;
}

.filler1 .second,
.filler2 .second,
.filler3 .second,
.filler4 .second {
  height: 210px;
  width: 210px;
  top: 100px;
  left: 60px;
}

@media (max-width: 1200px) and (min-width: 1100px) {
  .para1 .content,
  .para3 .content {
    margin-left: 25%;
    margin-right: auto;
  }

  .para2 .content,
  .para4 .content {
    margin-right: 25%;
    margin-left: auto;
  }

  .filler1,
  .filler3 {
    left: -8%;
    height: 250px;
  }
  .filler2,
  .filler4 {
    height: 300px;
  }
}

@media (max-width: 1100px) {
  .phone {
    top: -30%;
    width: 140px;
    height: 270px;
  }

  .content {
    width: 350px;
    margin-top: 30px;
  }

  .para1 .content,
  .para3 .content {
    margin-left: 23%;
    margin-right: auto;
  }

  .para2 .content,
  .para4 .content {
    margin-right: 23%;
    margin-left: auto;
  }

  .filler1,
  .filler3 {
    top: -20%;
    left: -13%;
  }
  .filler2,
  .filler4 {
    top: -20%;
    right: -13%;
  }

  .filler5 {
    top: 30%;
    left: 55%;
  }

  .filler6 {
    top: 50%;
  }

  .filler7 {
    left: 25%;
  }

  .filler1 .first,
  .filler2 .first,
  .filler3 .first,
  .filler4 .first {
    height: 170px;
    width: 170px;
    top: -10px;
    left: 40px;
  }

  .filler5 .first,
  .filler6 .first,
  .filler7 .first {
    height: 70px;
    width: 70px;
  }

  .filler1 .second,
  .filler2 .second,
  .filler3 .second,
  .filler4 .second {
    height: 170px;
    width: 170px;
    top: 90px;
    left: 80px;
  }
}

@media (max-width: 1000px) {
  .para1 .content,
  .para3 .content {
    margin-left: 25%;
    margin-right: auto;
  }

  .para2 .content,
  .para4 .content {
    margin-right: 25%;
    margin-left: auto;
  }

  .filler1,
  .filler3 {
    top: -20%;
    left: -15%;
  }
  .filler2,
  .filler4 {
    top: -20%;
    right: -16%;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .para1,
  .para2,
  .para3,
  .para4 {
    height: 160px;
  }
  .para1 .content,
  .para3 .content {
    margin-left: 30%;
    margin-right: auto;
  }
}
@media (max-width: 900px) {
  .filler5 .first,
  .filler6 .first,
  .filler7 .first {
    display: none;
  }

  .leftCornerFiller .first {
    height: 100px;
    width: 100px;
    bottom: -50px;
    left: -50px;
  }

  .leftCornerFiller .second {
    height: 30px;
    width: 30px;
    bottom: 80px;
  }

  .leftCornerFiller .third {
    height: 50px;
    width: 50px;
    bottom: 20px;
  }

  .rightCornerFiller .first {
    height: 120px;
    width: 120px;
    top: -50px;
    right: -50px;
  }

  .rightCornerFiller .second {
    height: 50px;
    width: 50px;
    top: 100px;
  }

  .rightCornerFiller .third {
    height: 70px;
    width: 70px;
    right: 80px;
  }
}

@media (max-width: 768px) {
  .detail {
    padding: 5% 15%;
  }

  .detail h3 {
    font-size: 1.5rem;
  }

  .para1,
  .para2,
  .para3,
  .para4 {
    display: grid;
    margin: 7rem 0;
    min-height: 140px;
  }

  .content {
    position: static;
    text-align: center;
    margin: auto !important;
    width: auto;
  }

  .phone {
    position: relative;
    top: 0;
    margin: auto !important;
    width: 210px;
    height: 400px;
  }

  .filler1,
  .filler2,
  .filler3,
  .filler4 {
    top: 30%;
    right: 0;
    left: 50%;
    height: 400px;
    transform: translate(-50%, 0);
  }

  .filler1 .first,
  .filler2 .first,
  .filler3 .first,
  .filler4 .first {
    height: 250px;
    width: 250px;
    top: -50px;
    left: -20px;
  }

  .filler5 .first,
  .filler6 .first,
  .filler7 .first {
    height: 70px;
    width: 70px;
    left: 50%;
  }

  .filler1 .second,
  .filler2 .second,
  .filler3 .second,
  .filler4 .second {
    height: 260px;
    width: 260px;
    top: 100px;
    left: 50px;
  }
}

@media (max-width: 420px) {
  .filler1,
  .filler4 {
    top: 40%;
  }
  .filler2,
  .filler3 {
    top: 35%;
  }

  .leftCornerFiller .first {
    height: 80px;
    width: 80px;
    bottom: -30px;
    left: -30px;
  }

  .leftCornerFiller .second {
    height: 20px;
    width: 20px;
    left: 30px;
    bottom: 65px;
  }

  .leftCornerFiller .third {
    height: 30px;
    width: 30px;
    bottom: 20px;
  }

  .rightCornerFiller .first {
    height: 100px;
    width: 100px;
    top: -50px;
    right: -50px;
  }

  .rightCornerFiller .second {
    height: 30px;
    width: 30px;
    top: 80px;
  }

  .rightCornerFiller .third {
    height: 50px;
    width: 50px;
    right: 50px;
  }
}
