.sub_contact_container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.sub_contact {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  margin-bottom: 5em;
}

.sub_contact h3 {
  padding: 1rem 0;
}

.sub_contact i {
  font-size: 50px;
  padding: 0;
  color: #e11c74;
}

.sub_contact p a {
  text-decoration: none;
  color: #687980;
}

@media (max-width: 768px) {
  .sub_contact_container {
    grid-template-columns: 1fr;
  }
  .sub_contact:first-child {
    margin-bottom: 0;
  }
}
