.modal {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  background: white;
  overflow: auto;
  /* width: 80vw; */
  width: fit-content;
  /* min-width: 60vw; */
  height: fit-content;
  border-radius: 10px;
  /* padding: 20px; */
  z-index: 100;
  overflow-y: hidden;
  animation: modalEnter 0.3s ease-in-out;
}

@keyframes modalEnter {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 90px;
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.closeBtn {
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 200;
  font-size: 1.5rem;
  color: #e5e7e9;
  cursor: pointer;
}

.closeBtn svg {
  box-shadow: 0 0 10px #333;
}

.closeBtn:hover {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overlay::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overlay {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* --------------------------------------------- */

.body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
}

.body p {
  font-size: 1rem;
  font-weight: 2rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  /* margin: 20px 0 30px; */
}

.body a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container,
.confirm_modal_container {
  background: #fff;
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.confirm_modal_container {
  min-height: max-content;
  max-height: max-content;
  width: 400px;
  font-weight: 1rem;
  padding: 10%;
}

.confirm_modal_container h6,
.confirm_modal_container section {
  padding: 5% 0;
}

.confirm_modal_container section {
  padding-top: 10%;
  padding-bottom: 10%;
}

.container_inner {
  display: flex;
  flex-direction: column;
}

.login_container form,
.sign_up_container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_container,
.sign_up_container {
  background: #fff;
  position: absolute;
  top: auto;
  bottom: auto;
  height: 100%;
  overflow: auto;
  transition: all 0.6s ease-in-out;
}

.login_container {
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.sign_up_container {
  left: 0;
  opacity: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.loading_container,
.overlay_container {
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.loading_container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay_container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  background: #e11c74;
}

.overlay_container_inner {
  background: #e11c74;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay_inner {
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_right,
.overlay_left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_right p,
.overlay_left p {
  margin: 0;
}

.overlay_right {
  position: absolute;
  width: 50%;
  right: 0;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_left {
  position: absolute;
  width: 50%;
  left: 0;
  transform: translateX(-20%);
  transition: transform 0.6s ease-in-out;
}

/* Move signin to the right */
.right_panel_active .login_container {
  transform: translateX(100%);
}

/* Move overlay_inner to left */
.right_panel_active .overlay_container {
  transform: translateX(-100%);
}

/* Bring sign up over sign in */
.right_panel_active .sign_up_container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to the right */
.right_panel_active .overlay_inner {
  transform: translateX(50%);
}

.right_panel_active .overlay_left {
  transform: translateX(0);
  /* z-index: 6; */
}
.right_panel_active .overlay_right {
  transform: translateX(20%);
}

@media (max-width: 960px) {
  @keyframes modalEnter {
    from {
      top: -50px;
      opacity: 0;
    }
    to {
      top: 5vh;
      opacity: 1;
    }
  }

  .container {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
  }

  .confirm_modal_container {
    width: 400px;
  }

  .sign_up_container,
  .login_container {
    width: 100%;
    top: 20%;
    height: fit-content;
  }

  .sign_up_container form,
  .login_container form {
    padding: 0 2rem;
  }

  .sign_up_container {
    transform: translateX(-100%);
    opacity: 1;
    height: 85%;
    overflow-y: auto;
  }

  .login_container {
    transform: translateX(0);
    transform: translateY(-20%);
  }

  .overlay_left,
  .overlay_right {
    flex-direction: row;
    /* position: fixed; */
  }

  .overlay_right {
    top: -10px;
    width: 50%;
    left: auto;
    right: 0;
    transform: translateX(0);
    transform: translateY(-20%);
    transition: transform 0.6s ease-in-out;
  }

  .overlay_left {
    top: 2px;
    width: 50%;
    right: 0;
    left: auto;
    transform: translateX(0);
    transform: translateY(-540%);
    transition: transform 0.6s ease-in-out;
  }

  .overlay_container {
    height: 10%;
    width: 100%;
    top: 80%;
    left: 0;
    transform: translateY(100%);
  }

  .overlay_inner {
    transform: translateY(15%);
  }

  /* Move signin to the right */
  .right_panel_active .login_container {
    transform: translateX(100%);
  }

  /* Bring sign up over sign in */
  .right_panel_active .sign_up_container {
    transform: translateX(0);
    transform: translateY(-20%);
  }

  /* Move overlay_inner to left */
  .right_panel_active .overlay_container {
    transform: translateY(100%);
  }

  /* Move overlay back to the right */
  .right_panel_active .overlay_inner {
    transform: translateY(55%);
  }

  .right_panel_active .overlay_left {
    transform: translateX(0);
    transform: translateY(-140%);
    opacity: 1;
    height: 10%;
  }
  .right_panel_active .overlay_right {
    transform: translateY(1000%);
  }
}

@media (max-width: 768px) {
  .closeBtn {
    position: absolute;
    top: 3%;
    right: 10%;
  }
}

@media (max-width: 400px) {
  .container,
  .confirm_modal_container {
    width: 95vw;
  }
  .sign_up_container form,
  .login_container form {
    padding: 0 1rem;
  }
}
