.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-color: #fff;
}

.containerInner {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
  border-radius: 15px;
  height: 85vh;
  min-height: max-content;
  width: 80vw;
  min-width: fit-content;
  z-index: 2;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 2rem;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}
.logo img {
  height: inherit;
}

.pictureContainer {
  height: 100%;
  min-height: 50%;
  width: 100%;
  min-width: 50%;
  overflow: hidden;
}

.pictureContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detailsContainer {
  padding: 3% 5%;
  width: 100%;
  z-index: 2;
  height: fit-content;
}

/* single data container */
.detailContainer {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  font-size: smaller;
  font-weight: 600;
}

.detail {
  width: 50%;
  text-align: left;
  color: #003;
}

.heading {
  line-height: 1.5;
  margin-bottom: 15px;
  color: #003;
  border-bottom: 0.5px solid #eeee;
}

.footer {
  position: fixed;
  bottom: 0;
  line-height: 3;
  color: #ccc;
  font-size: small;
  z-index: 1;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .heading {
    font-size: 25px;
  }
  .containerInner {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .container {
    height: 100%;
  }
  .containerInner {
    flex-direction: column;
    margin: 10% 5%;
    height: fit-content;
  }

  .heading {
    font-size: 1.7rem;
    line-height: 2.5;
  }

  .detailsContainer {
    height: fit-content;
  }
  .pictureContainer {
    height: 300px;
    width: 100%;
  }
}
