.sign_up {
  position: relative;
}

.sign_up p {
  text-align: center;
}

.body {
  margin: auto;
}

.logo {
  width: 200px;
  margin: auto;
}

/* profile creation */
.logo_lg {
  width: 300px;
  margin: 5% auto auto;
}

.profileCreation {
  height: max-content;
  overflow-y: hidden;
}
/* ------------- */

.form_container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.login_container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login_container {
  transform: translateX(100%);
}

.phoneImg {
  height: 350px;
  width: 180px;
}

.phoneImg img {
  border-radius: 17px;
}

.filler1,
.filler2,
.filler3,
.leftCornerFiller {
  position: absolute;
}

.filler1 {
  height: 80px;
  width: 80px;
  left: 0;
  bottom: 10px;
}

.filler2 {
  height: 70px;
  width: 70px;
  right: 10px;
  bottom: 0;
}

.filler3 {
  height: 70px;
  width: 70px;
  left: 30%;
  bottom: 0;
}

.leftCornerFiller {
  height: 150px;
  width: 200px;
  left: -5%;
  bottom: 0%;
}

.sign_up_form,
.login_form {
  /* background: rgb(225 28 116 / 32%); */
  border-radius: 5px;
}

.sign_up,
.btn_grp,
.input_grp {
  display: grid;
  gap: 2rem; /*---- Not for sign_up */
  grid-template-columns: 1fr 1fr;
}

.sign_up {
  gap: 1rem;
}

.otherDetails {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  transition: all 0.3s ease;
  animation: otherDetailsEnter 0.3s ease-in;
}

@keyframes otherDetailsEnter {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 80%;
    opacity: 0.3;
  }
}

.sign_up_form input,
.sign_up_form select,
.login input {
  border: 1px solid #e11c74;
}

.phoneInput {
  display: flex;
  border: 1px solid #e11c74;
  border-radius: 5px;
  min-width: 230px;
  margin: auto;
}

.phoneInput input {
  border: none;
  background: #fff;
}

.phoneInput label {
  margin: auto;
  padding: 0 5px;
  border-right: 1.5px solid #e11c74;
  background-color: -internal-light-dark(
    rgba(239, 239, 239, 0.3),
    rgba(59, 59, 59, 0.3)
  );
}

.btn_grp {
  margin: 1rem;
}

.phoneInput,
.sign_up_form input[type="email"],
.sign_up_form input[type="password"],
.sign_up_form select,
.login input,
.buttons {
  /* width: 280.7px; */
  width: 100%;
}

.forgotPassTxt {
  width: max-content;
}

@media (max-width: 960px) {
  .phoneImg {
    padding: 10% 0 0 25%;
    width: 150px;
    height: 200px;
  }

  /* .phoneInput {
    width: 280.97px;
  } */

  /* .phoneInput,
  .sign_up_form input[type="email"],
  .sign_up_form input[type="password"],
  .sign_up_form select,
  .login input,
  .buttons {
    width: 280.7px;
  } */
}

@media (max-width: 768px) {
  /* .body {
    max-width: 540px;
  } */

  .logo_lg {
    width: 150px;
  }

  .sign_up {
    max-width: 540px;
    display: flex;
    padding: 5% 0;
    margin: auto;
    flex-direction: column-reverse;
  }

  .phoneImg {
    padding: 10% 0 0 25%;
    width: 150px;
    height: 200px;
  }

  .phoneImg img {
    z-index: 1;
    height: 180px;
    width: 92.5px;
    margin: auto;
  }

  .phoneInput {
    min-width: min-content;
  }

  .submitBtn {
    background-color: #e11c74;
    color: #fff;
  }

  .buttons {
    font-size: 0.7rem;
    min-width: max-content;
    padding: 9px;
    margin: 0;
  }

  .filler1 {
    left: -50px;
  }

  .filler2 {
    right: -40px;
  }

  .filler3 {
    bottom: 10%;
  }
}
